@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p class="text-danger" style="font-size:x-large; font-weight:700">
   @*   @TempData["message"].ToString()*@
      
    </p>
}

<h3></h3>
<p>
    
</p>
<p style="align-items:center">
    <h2 class="text-danger">Contact Administrator for further assistance (Tele No  : 33135, 23014705)</h2>
    
    
</p>
