<!DOCTYPE html>

@model IEnumerable<CAB.Models.Cab_model>
@{
    ViewData["Title"] = "";     //Seting the page title name by inserting in Viewdata
}



<br />
<body>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="background-color: white;margin-top: 39px;">
            <div class="content">
                <div class="text-center">
                    
                    <div class="phone details">
                        <i class="fas fa-phone-alt"></i>
                        <br>
                        <br>
                        <p style="align-items:center">
                            <h1 class="text-danger">  COAS Sectt (CAB) <br /><br />Tele No  : 33135, 23014705</h1>


                        </p>
                        
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>



</body>

















